
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"  />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<!--resetCss-->
<link rel="stylesheet" href="../../widgets/cssreset/reset.css" />
<!--Page StyleSheets-->
<link rel="stylesheet" href="./index.css"/>
<!--Global JavaScripts-->
<!--默认种子文件 mini-min.js 和 配置文件 config.js 不合并
	可以去掉 nocombo=true 参数来打开合并开关-->
<script src="../../widgets/kissymini/build/mini-min.js?nocombo=true"></script>
<script src="../../config.js?nocombo=true"></script>
