<!DOCTYPE HTML>
<html lang="zh">
<head>
    <meta charset="UTF-8">
	<title> <%= projectName %> - Home </title>
	<!--#include virtual="../../mods/header.html" -->
</head>
<body>

<!--正文开始-->

<h1 class="example">加载中...</h1>

<script>
    KISSY.use('<%= packageName %>/pages/home/index', function(S, Home) {
		Home.init({
			msg:'hello world!'	
		});
    });
</script>

</body>
</html>

<!--
	KISSY MINI 文档：http://m.kissyui.com/api/core.html
-->

<!--
	样式代码参照DPL：
	http://groups.alidemo.cn/trip/h5-ui-component/build/pages/template/css.html
	文档
	http://groups.alidemo.cn/trip/h5-ui-component/
-->

<!--
	TMS引用说明参照：
	http://gitlab.alibaba-inc.com/mpi/tms-offline-parser/tree/master
-->

<!--
    去啊前端 wiki 库：http://work.taobao.net/projects/zoo-f2e/wiki/Wiki
-->
